dist/ws/client/browser/**/*
dist/ws/debug/DebugClient.d.ts
dist/ws/debug/DebugClient.js
src/**/*
html/**/*
bundled/**/*
release/**/*
transpiler/**/*
.gitattributes
tsconfig.json
test*
webpack.config.js
minify.js